@import "common";

:host {
  display: block;
  font-size: 14px;
  padding-top: $size-md;
}

app-comment-list {
  padding-top: $size-sm;
}

.avatar {
  flex: none;
  width: 40px;
  height: 40px;
  border-radius: 3px;
  margin-right: $size-md;
}
