@import "../../styles/common";

:host {
  display: block;
}

app-nav-node {
  margin-left: 1rem;
}

.title {
  flex: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

mat-list-item .title {
  display: inline-block;
  padding: 12px 0;
}
