<mat-toolbar color="primary" class="mat-elevation-z6 header">
  <button
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="drawer.toggle()"
    *ngIf="isHandset">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <a routerLink="/" class="logo">
    <app-icon-wangke></app-icon-wangke>
  </a>
  <a routerLink="/" class="site-title">
    汪·课
  </a>
  <!--<app-search-box (search)="search($event)"></app-search-box>-->
  <ng-container *ngIf="!isHandset">
    <div class="flex-spacer"></div>
    <a mat-button href="https://github.com/ng-docs/awesome-angular" target="_blank" aria-label="GitHub 仓库">
      <app-icon-github></app-icon-github>
    </a>
  </ng-container>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container" appOutlineHost>
  <mat-sidenav
    #drawer
    class="sidenav"
    [attr.role]="isHandset ? 'dialog' : 'navigation'"
    [mode]="isHandset ? 'over' : 'side'"
    [opened]="!isHandset" (click)="tryToClose(drawer)">
    <div class="d-sticky">
      <ng-content></ng-content>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <main appOutlineArea>
      <router-outlet></router-outlet>
    </main>
    <app-outline *ngIf="!isHandset" class="d-sticky"></app-outline>
  </mat-sidenav-content>
</mat-sidenav-container>
