@import "../../styles/common";

:host {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.sidenav-container {
  flex: auto;
}

.sidenav {
  width: 300px;
}

.mat-toolbar.mat-primary {
  flex: none;

  &.header {
    top: 0;
    margin-bottom: 8px;
  }
}

img {
  width: 183px;
  margin-right: 1rem;
  vertical-align: middle;
}

[mat-button] {
  min-width: auto;

  &.active {
    margin-bottom: -2px;
    border-bottom: 2px solid white;
  }
}

mat-sidenav-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

