@import "../../styles/common";

.sidenav {
  width: 300px;
}

.mat-toolbar.mat-primary {
  flex: none;

  &.header {
    top: 0;
    margin-bottom: 8px;
  }
}

.logo {
  display: inline-flex;
  margin-right: 0.5em;

  > * {
    display: inline-flex;
  }
}

[mat-button] {
  min-width: auto;

  &.active {
    margin-bottom: -2px;
    border-bottom: 2px solid white;
  }
}

mat-sidenav-content {
  padding-left: 1rem;
  display: flex;

  > main {
    flex: auto;
    min-height: 100vh;
    padding: 0 1em;
  }

  > app-outline {
    flex: none;
    width: 200px;
  }
}

a.site-title {
  text-decoration: none;
  color: white;

  &:visited {
    color: white;
  }
}
