@import "common";

:host {
  display: block;
  padding: 5px 16px;
}

input {
  box-sizing: border-box;
  width: 100%;
  font-size: 1rem;
  padding: 0.3rem 0 0.3rem 1.5rem;
  margin-top: 1rem;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid $dark-dividers;
  background: url(./_images/search.svg) no-repeat 0.3rem center;

  &:focus {
    outline: none;
  }
}
