@import "common";

:host {
  display: block;
  padding: 5px 16px;
}

input {
  box-sizing: border-box;
  width: 100%;
  padding-left: 2em;
  margin-top: 1em;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid $dark-dividers;
  line-height: 22px;
  background: url(./_images/search.svg) no-repeat 4px center;

  &:focus {
    outline: none;
  }
}
